$navbar-default-bg: white;
@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #f6755e;
  letter-spacing: -1px;
  font-family: "Pacifico";

}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('banner.jpg');
  background-size: cover;
  height: 400px;
}

.jumbotron h1 {
  color: #f6755e;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  letter-spacing: -1px;
  font-family: "Pacifico", cursive;
}

.jumbotron h2 {
  color: #3366ff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.btn-xlg {
  font-size: 1.7em;
  background-color: rosybrown;
}

.footer {
  margin-top: 45px;
  padding: 5px;
  border-top: 1px solid #eaeaea;
  color: rosybrown;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  text-align: center;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.slidecontainer {
  width: 100%;
}



.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  background: #f6755e;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #f6755e;
  cursor: pointer;
}

* {
  box-sizing:border-box;
}



form {
  max-width:30em;
  margin:4rem auto;
  text-align:center;
}

fieldset {
  position:relative;
  border:none;
  width:16rem;
  height:16rem;
  margin:0 auto;
  legend {
    position:absolute;
    top:-4rem;
    left:0;
    width:100%;
  }
  label {
    position:absolute;
    display:block;
    margin:0 auto;
    padding-top:1rem;
    width:1rem;
    left:7.5rem;
    transform-origin:50% 7.5rem;
    &:hover {
      cursor:pointer;
    }
  }
  input {
    position:absolute;
    width:2rem;
    left:7rem;
    display:block;
    margin:1rem auto 0 auto;
    padding:0;
    transform-origin:50% 7.5rem;
    opacity:0;
    &:hover {
      cursor:pointer;
    }
  }
  #radio-choice-1, label[for="radio-choice-1"] {
    transform:rotateZ(-48deg);
  }
  #radio-choice-2, label[for="radio-choice-2"] {
    transform:rotateZ(-24deg);
  }
  #radio-choice-3, label[for="radio-choice-3"] {
    transform:rotateZ(0deg);
  }
  #radio-choice-4, label[for="radio-choice-4"] {
    transform:rotateZ(24deg);
  }
  #radio-choice-5, label[for="radio-choice-5"] {
    transform:rotateZ(48deg);
  }
  input[type="radio"]:checked {
    & + label {
      color:#f6755e;
      text-shadow: 0px 0px 4px #f6755e;
    }
  }

}

input[type="radio"]{
  &:checked#radio-choice-1 ~ .dial {
    transform:rotateZ(-48deg);
    &::before {
      transform:rotateZ(48deg);
    }
    &::after {
      transform:rotateZ(48deg);
    }
  }
  &:checked#radio-choice-2 ~ .dial {
    transform:rotateZ(-24deg);
    &::before {
      transform:rotateZ(24deg);
    }
    &::after {
      transform:rotateZ(24deg);
    }
  }
  &:checked#radio-choice-3 ~ .dial {
    transform:rotateZ(0deg);
    &::before {
      transform:rotateZ(0);
    }
    &::after {
      transform:rotateZ(0);
    }
  }
  &:checked#radio-choice-4 ~ .dial {
    transform:rotateZ(24deg);
    &::before {
      transform:rotateZ(-24deg);
    }
    &::after {
      transform:rotateZ(-24deg);
    }
  }
  &:checked#radio-choice-5 ~ .dial {
    transform:rotateZ(48deg);
    &::before {
      transform:rotateZ(-48deg);
    }
    &::after {
      transform:rotateZ(-48deg);
    }
  }
}

.dial {
  position:relative;
  text-align:center;
  line-height:0;
  font-size:65%;
  color:#f6755e;
  text-shadow: 0px 0px 7px #f6755e;
  display:block;
  width:8rem;
  height:8rem;
  padding:1rem;
  background:radial-gradient(#272727 30%,#333 50%,#222 65%,#111 90%, black 98%);
  margin:3rem auto;
  border-radius:50%;
  box-shadow:0 5px 10px rgba(0,0,0,0.6);
  transition:transform 0.3s ease-in-out;
  &::before {
    position:absolute;
    content:'';
    display:block;
    width:6rem;
    height:6rem;
    border-radius:50%;
    background:radial-gradient(circle at 50% 80%,
            rgba(15,15,15,0.4) 40%,
            rgba(15,15,15,0.1) 70%);
    box-shadow:0 5px 10px rgba(0,0,0,0.45);
    transition:transform 0.3s ease-in-out;
  }
  &::after {
    position:absolute;
    content:'';
    display:block;
    width:8rem;
    height:8rem;
    border-radius:50%;
    top:0;
    left:0;
    background:radial-gradient(circle at 50% 25%, rgba(255,255,255,0.15), rgba(255,255,255,0));
    transition:transform 0.3s ease-in-out;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */