<div style="width: 100%;">
  <div style="float:left; width: 70%">
    <h1>Corpus</h1>
    <h2>Upload a new artist:</h2>
    <%= form_tag '/upload', :method => "post", :multipart => true do %>
        <%= file_field_tag "midiFile" %>        <%= submit_tag "Upload" %>

  <% end %>
  </div>
  <div style="float:right;">
    <h1>Parameters</h1>
    <h2>Chaos</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="chaosSlider">
    <form action="#">

        <h2>Note Division</h2>

        <fieldset>

          <input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" />
          <label for="radio-choice-1">♪</label>

          <input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" />
          <label for="radio-choice-2">2</label>

          <input type="radio" name="radio-choice" id="radio-choice-3" value="choice-3" />
          <label for="radio-choice-3">3</label>

          <input type="radio" name="radio-choice" id="radio-choice-4" value="choice-4" />
          <label for="radio-choice-4">4</label>

          <input type="radio" name="radio-choice" id="radio-choice-5" value="choice-5" />
          <label for="radio-choice-5">5</label>

          <div class="dial">▲</div>

        </fieldset>

    </form>
  </div>
</div>
<div style="clear:both"></div>


