<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/landing.css">

    <title>MelodySmith</title>
</head>

<body>

<section id="features" class="features">
    <div class="box foo">
        <h3 class="features-title">MelodySmith</h3>



        <div class="features-content">
            <div data-features-tabs class="features-content-col">
                <div id="feature-1" class="features-textblock animated fadeIn __active">
                    <h2> A Music Composition Application</h2>
                    <p>For musicians, ideas are currency. After so many years, and so many composers, however, those valuable unique ideas are hard and harder to come by.  </p> <p>Wouldn’t it be great if you could generate hundreds of ideas automatically
                        The MelodySmith is an algorithmic composer that learns its style from the artists and genres you like. </p> <p>Using machine learning, the MelodySmith will digest a corpus of MIDI files and generate a melody that best encompasses the styles of each song it’s trained on. Users will be able to “combine” artists such as Bach and Katy Perry and hear what a fusion of their styles would sound like.
                    </p>
                </div>
                <div id="feature-2" class="features-textblock animated fadeIn">
                    <h2>Association Network</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                </div>
                <div id="feature-3" class="features-textblock animated fadeIn">
                    <h2>VST Plug-in</h2>
                    <p>The main interface for the MelodySmith is a VST (Virtual Studio Technology) plug in
                        which would be compatible with any Digital Audio Workstation (Ableton Live, Logic Pro, Cubase…). </p> <p>The plugin could be pulled up alongside all of the other tools a producer is used to, and will feed MIDI commands directly into the instrument tracks. Music producers would use the MelodySmith to incorporate melodies into their songs, creating a stepping off point for a new song.
                    </p>
                </div>
                <div id="feature-4" class="features-textblock animated fadeIn">
                    <h2>N-Grams</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                </div>
                <div id="feature-5" class="features-textblock animated fadeIn">
                    <h2>audioMIDIum</h2>
                    <p>We are a team of four Computer Science students at the University of Utah. This is the culmination of our years here at the U.</p>
                    <ul>
                        <li>Alex Blackburn</li>
                        <li>Trung Le</li>
                        <li>Dan Mattheiss</li>
                        <li>Steven Sun</li>
                    </ul>
                </div>
                <div id="feature-6" class="features-textblock animated fadeIn">
                    <h2>Web Demo App</h2>
                    <p>A demo version of the MelodySmith would be available as a website for users who just want to hear the fusion of two or more musicians, and don’t have a use for the MIDI output.
                        The website would allow users to experiment with different models to hear what the tool is capable of. If they wanted to train the MelodySmith on their own MIDI corpus, however, users would need to obtain the plugin version of the software.</p>
                    <p>Click on the music button to demo the application</p>
                </div>
            </div>
            <div class="features-content-col">
                <div data-features-nav class="features-graph">
                    <div class="button-holder">
                        <a href="#feature-1" class="icon-features-1 btn-with-icon __active"><span class="sq-bt-label label-top-left">Composition</span></a>
                        <a href="#feature-2" class="icon-features-2 btn-with-icon"><span class="sq-bt-label label-top">Network </span></a>
                        <a href="#feature-3" class="icon-features-3 btn-with-icon"><span class="sq-bt-label label-top-right" style="text-align: center">VST</span></a></div>
                    <div class="animation-holder">
                            <span class="flash-oval">
                            <a href="/forge">
                                <img src="note.png" alt="pulse">
                            </a>
                           <div class="wave hidden wave-anim"></div>
                           <div class="wave2 hidden wave-anim"></div>
                           <div class="wave3 hidden wave-anim"></div>
                           <div class="wave4 hidden wave-anim"></div>
                        </span>
                    </div>
                    <div class="button-holder">
                        <a href="#feature-4" class="icon-features-4 btn-with-icon"><span class="sq-bt-label label-bottom-left">N-Grams</span></a>
                        <a href="#feature-5" class="icon-features-5 btn-with-icon"><span class="sq-bt-label label-bottom">audioMIDIum</span></a>
                        <a href="#feature-6" class="icon-features-6 btn-with-icon"><span class="sq-bt-label label-bottom-right">Web Demo</span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<script src="javascripts/styles.js"></script>
<footer>
    by <a href="https://melodysmith.herokuapp.com/" target="_blank">audioMIDIum</a>
</footer>
</body>

</html>